.all{
    background: rgba(44, 44, 44, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 725px;
    top: 0;
    left: 0;
    /* border: 2px solid blue; */
    
}

.sel{
    width: 100px;
    /* border: 2px solid blue; */
}

.bl{
    background-color: rgb(170, 128, 21);
    width: 150px;
    height: 21px;
    text-decoration-color: black;
    text-align: left;
    /* border: 2px solid blue; */
    float: left;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}
.line{
    width: 548px;
    float: left;
    display: block;
    /* border: 1px solid blue; */
    margin: 2px;
    display: flex;
    flex-wrap: nowrap;
    
}

.bg{
    background-color: rgb(76, 75, 73);
    width: 750px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.res p{
    margin: 0;
}

.res{
    float: left;
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 1px;
    /* border: 1px solid blue; */
    height: 20px;
    width: 70px;
    flex-wrap: nowrap;
    
}
.ans{
    float: left;
    display: block;
    /* border: 1px solid blue; */
    margin-left: 1px;
    margin-right: 1px;
}
